{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}




<li class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">


    <div>
      {{ post.authors }}. "{{ post.title }}". <i>{{ post.venue }}</i>. {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}. 
        <!-- Open link button -->
        {% if post.link %}
          <button class="button" type="button" data-paper-url="{{ post.link | escape }}">PDF</button>
        {% endif %}
        <!-- Button -->
        <button class="button" type="button" data-bibtex="{{ post.bibtex | escape }}" data-post-id="{{ post.id | escape }}" aria-expanded="false" aria-controls="bibTexContainer_{{ post.id | escape }}">BibTeX</button>


      <!-- PDF label
      {% if post.link %}
      <a href="{{ post.link }}" rel="permalink"><i class="fas fa-file-pdf" aria-hidden="true" title="pdf"></i> <span class="sr-only">pdf</span> </a>
      {% endif %}
       -->
        <!-- Placeholder for BibTeX text -->
        <div id="bibTexContainer_{{ post.id }}" class="bibTexContainer" style="display: none;"></div>

    </div>

  </article>
</li>

