{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  .copy-button {
    margin-top: 8px;
    padding: 4px 8px;
    background-color: #f1f1f1;
    color: #666;
    font-size: 14px;
    font-family: monospace;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .copy-button:hover {
    background-color: #ddd;
  }

  #bibTexContainer {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow: auto;
  }
</style>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
	  <li>

    <p>
      {{ post.authors }}, {{ title }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}. 



      <!-- PDF label
      {% if post.link %}
      <a href="{{ post.link }}" rel="permalink"><i class="fas fa-file-pdf" aria-hidden="true" title="pdf"></i> <span class="sr-only">pdf</span> </a>
      {% endif %}
       -->
        <!-- Placeholder for BibTeX text -->
        <pre id="bibTexContainer_{{ post.id }}" class="bibTexContainer" style="display: none;"></pre>

        <script>
          // JavaScript function to handle button click
          function showBibTex(bibTex, postId) {
            var bibTexContainer = document.getElementById('bibTexContainer_' + postId);

            if (bibTexContainer.style.display === 'none') {
              bibTex = bibTex.replace(/&lbrace;/g, '{').replace(/&rbrace;/g, '}'); // Unescape curly braces
              bibTexContainer.innerHTML = bibTex;// Display new lines with line breaks
              bibTexContainer.style.display = 'block';
              var copyButton = document.createElement('button');
              copyButton.className = 'copy-button';
              copyButton.textContent = 'Copy BibTeX';
              copyButton.addEventListener('click', function() {
                copyToClipboard(bibTex);
              });
              bibTexContainer.appendChild(copyButton);
            } else {
              bibTexContainer.innerHTML = '';
              bibTexContainer.style.display = 'none';
            }
          }

          // JavaScript function to handle open link button click
          function openLink(link) {
            window.open(link, '_blank');
          }

        // JavaScript function to copy BibTeX text to clipboard
        function copyToClipboard(text) {
          var tempInput = document.createElement('textarea');
          tempInput.value = text;
          document.body.appendChild(tempInput);
          tempInput.select();
          document.execCommand('copy');
          document.body.removeChild(tempInput);
          // Add your custom code here
        }
        </script>
        
        <!-- Open link button -->
        {% if post.link %}
          <button type="button" onclick="openLink('{{ post.link | escape }}')">PDF</button>
        {% endif %}
        <!-- Button -->
        <button type="button" onclick="showBibTex('{{ post.bibtex }}', '{{ post.id }}')">BibTeX</button>

    </p>
	</li>
  </article>
</div>
