<script src="{{ base_path }}/assets/js/vendor/jquery/jquery-3.7.1.min.js"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.fitvids.js"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.greedy-navigation.js"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.magnific-popup.js"></script>
<script src="{{ base_path }}/assets/js/plugins/jquery.smooth-scroll.min.js"></script>
<script src="{{ base_path }}/assets/js/plugins/stickyfill.min.js"></script>
<script src="{{ base_path }}/assets/js/site.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
